<!-- Footer -->
<footer class="bg-primary text-center text-white">
  <!-- Grid container -->

    <!-- Section: Text -->
    <section class="p-5">
      <p>
      <hr>
        the data will be deleted after 5 days
      <hr>
      </p>
    </section>
    <!-- Section: Text -->


  <!-- Copyright -->
  <div class="text-center py-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">HyBase-hu</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->